            body {
                background-color: #e6edf0;
            }
            
            .onoffswitch {
                position: relative;
                width: 62px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }
            
            .onoffswitch-checkbox {
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }
            
            .onoffswitch-label {
                display: block;
                overflow: hidden;
                cursor: pointer;
                border: 2px solid #999999;
                border-radius: 20px;
            }
            
            .onoffswitch-inner {
                display: block;
                width: 200%;
                margin-left: -100%;
                transition: margin 0.3s ease-in 0s;
            }
            
            .onoffswitch-inner:before,
            .onoffswitch-inner:after {
                display: block;
                float: left;
                width: 50%;
                height: 23px;
                padding: 0;
                line-height: 23px;
                font-size: 10px;
                color: white;
                font-family: Trebuchet, Arial, sans-serif;
                font-weight: bold;
                box-sizing: border-box;
            }
            
            .onoffswitch-inner:before {
                content: "ON";
                padding-left: 8px;
                background-color: #58DB83;
                color: #FFFFFF;
            }
            
            .onoffswitch-inner:after {
                content: "OFF";
                padding-right: 8px;
                background-color: #F00909;
                color: #FFFFFF;
                text-align: right;
            }
            
            .onoffswitch-switch {
                display: block;
                width: 12px;
                margin: 8px;
                background: #FFFFFF;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 35px;
                border: 2px solid #999999;
                border-radius: 20px;
                transition: all 0.3s ease-in 0s;
            }
            
            .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
                margin-left: 0;
            }
            
            .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
                right: 0px;
            }
            
            td {
                border: 1px solid #999999;
                border-left: none;
                border-right: none;
            }
            
            .table-rasp, .table-reles {
                border: 1px solid #999999;
            }
            
            .text-sm {
                font-size: small;
            }
            
            .table-rasp>tbody tr:hover {
                background-color: rgb(231, 224, 224);
            }

            .table-reles>tbody tr:hover {
                background-color: rgb(246, 247, 238);
            }

            /* switch relevador */
            
            .switch_rele {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 17px;
            }
            
            .switch_rele input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #FF0054;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 13px;
                width: 13px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked+.slider {
                background-color: #0cd6a0;
            }
            
            input:focus+.slider {
                box-shadow: 0 0 1px #0cd6a0;
            }
            
            input:checked+.slider-primary {
                background-color: #2196F3;
            }
            
            input:focus+.slider-primary {
                box-shadow: 0 0 1px #2196F3;
            }
            
            input:checked+.slider:before {
                -webkit-transform: translateX(13px);
                -ms-transform: translateX(13px);
                transform: translateX(13px);
            }
            /* Rounded sliders */
            
            .slider.round {
                border-radius: 17px;
            }
            
            .slider.round:before {
                border-radius: 50%;
            }
            
            button.invertir:focus {
                outline: none;
            }
            
            button.invertir:active {
                outline: none;
            }

            .floating {
                position: relative;
                /* padding: 20px 0; */
                /* padding: 0px; */
                width: 100%;
                margin-bottom: 0px;
                /* margin-top: 0px; */
            }
            
            
            .floating>span {
                color: #989898;
                text-align: center;
                width: 100%;
                font-size: 14px;
                position: absolute;
                font-weight: normal;
                pointer-events: none;
                top: -3px;
                transform: translateY(8px);
                transition: all .3s linear;
                left: 0px;
            }

            .floating>input:valid,
            .floating>input:focus {
                /* border-bottom-color: var(--main-color); */
                outline: none;
            }

            /* .floating>input:placeholder-shown + span, */
            .floating>input:disabled + span,
            .floating>input:valid + span,
            .floating>input:focus + span,
            .floating>label + span,
            .floating>select + span {
                /* color: var(--main-color); */
                width: 100%;
                font-size: 10px;
                /* position y z-index cuando el input tiene un icono */
                position: absolute;
                z-index: 3;
                color: #0275d8;
                font-weight: bold;
                transform: translateY(-13px);
                /* transform: translate(0%,-80%) scale(0.80); */
            }

            .floating2>input:not(valid) + span,{
                /* color: var(--main-color); */
                width: 100%;
                font-size: 10px;
                color: #0275d8;
                transform: translateY(-11px);
                /* transform: translate(5%,-85%) scale(0.80); */
            }   

            .form-control-xs {
                height: calc(1em + .375rem + 5px) !important;
                padding: .125rem .25rem !important;
                font-size: .75rem !important;
                line-height: 1.5;
                border-radius: .2rem;
            }

            .ui-timepicker-container{
                z-index:99999 !important;
                position: absolute !important;
            }

            .dataTables_length>label>select,
            .dataTables_filter>label>input{
                background-color: #FFFFFF !important;
            }

            