{% extends "base.html" %} {% block title %}Tareas{% endblock %} {% block contenido %}
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="my-2">
            <h4>TAREAS RASPBERRY PI: <span class="text-danger"> {{raspberry.Nombre}}</span></h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <ul class="nav nav-pills " id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-sm font-weight-bold" href="#tareas1" data-toggle="tab" role="tab" id="tab_tareas1" aria-selected="true">TAREAS SEMANALAES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm font-weight-bold" href="#tareas2" data-toggle="tab" role="tab" id="tab_tareas2" aria-selected="false">TAREAS INDEPENDIENTES</a>
            </li>
        </ul>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="tab-content w-100" id="pills-tabContent" role="tabpanel">
            <div id="tareas1" class="tab-pane fade show active">
                <div class="d-flex flex-column">
                    <div class="my-2">
                        <button class="btn btn-sm btn-success font-weight-bold" onclick="nueva_tarea()"><i class="far fa-calendar-plus"></i>&nbsp;&nbsp;Nueva tarea</button>
                    </div>
                </div>
                <div class=" mt-3 table-responsive">
                    <table class="table table-sm table-rasp " id="tareas" style="background-color: white;">
                        <thead class="table-dark text-sm">
                            <tr width="100%">
                                <th>Nombre de la tarea</th>
                                <th>Nombre del relevador</th>
                                <th>Pin</th>
                                <th width="15%">Dias</th>
                                <th>Hora</th>
                                <th>Estatus</th>
                                <th>Logica</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm">

                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tareas2" class="tab-pane fade">
                TAREAS INDEPENDIENTES
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_tarea_semanal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex">
                <div class="d-flex justify-content-center w-100">
                    <div>
                        <h6 class="modal-title" id="titulo_modal_semanal">NUEVA TAREA</h6>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="bodyModal">
                <div class="d-flex flex-row mt-3">
                    <div class="d-flex flex-row w-100">
                        <div class="floating px-1">
                            <select class="form-control form-control-sm text-sm" id="pin_semanal">
                                <option hidden disabled selected value="#">Selecciona un relevador</option>
                                {% for rele in reles %}
                                    <option value="{{rele.Pin}}" >{{rele.Nombre}} - Pin: {{rele.Pin}}</option>
                                {% endfor %}
                            </select>
                            <span>Pin del Relevador</span>
                        </div>
                        <div class="floating px-1">
                            <input class="form-control form-control-sm" id="nombre_semanal" required>
                            <span>Nombre de la tarea</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row w-100 mt-4">
                    <div class="floating px-1">
                        <input type="text" id="hora_semanal" class="timepicker form-control form-control-sm text-center" autocomplete="off" required>
                        <span>Hora programada</span>
                    </div>
                    <div class="d-flex mx-5">
                        <div class="floating">
                            <label class="switch_rele" style="position: relative; margin-top: 7px; margin-left: 3px;">
                                <input type="checkbox" id="estatus_semanal">
                                <span class="slider round"></span>
                            </label>
                            <span>Estatus</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="floating" style="width: 100px;">
                            <button onclick="polaridad(this)" class="invertir text-primary valor-logica" id="logica_semanal" style="border:none;background:none; cursor:pointer;margin-top: 3px; margin-left: 8px;"><i
                                    class="far fa-circle"></i></button>
                            <input type="number" value="0" id="polaridad_semanal" style="display: none;">
                            <span id="tipo_polaridad" style="margin-left: -25px;">Logica normal</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <table class="table-sm m-0 p-0">
                        <tr>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_D" onclick="select_dia('D')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">D</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_D">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_L" onclick="select_dia('L')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">L</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_L">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_M" onclick="select_dia('M')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">M</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_M">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_Mi" onclick="select_dia('Mi')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">M</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_Mi">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_J" onclick="select_dia('J')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">J</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_J">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_V" onclick="select_dia('V')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">V</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_V">
                                </div>
                            </th>
                            <th>
                                <div class="d-flex">
                                    <button  class="invertir text-danger valor-logica" id="dia_S" onclick="select_dia('S')"  style="border:none;background:none; cursor:pointer;">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="far fa-circle fa-stack-2x" style="font-size: 25px; padding-top:4px;"></i>
                                            <span class="font-weight-bold" style="font-size: medium; padding-left: 0px; ">S</span>
                                        </span>
                                    </button>
                                    <input value="0" type="number" style="display: none;" id="value_S">
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center" id="btn_accion_semanal">
                
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script type="text/javascript">
    var table;
    var ip_rasberry = '{{ raspberry.IP }}';
    
    $(function() {
        $('#tareassd').DataTable({
            ajax: '/api/data',
            columns: [
                {
                    data: 'Nombre',
                    render: function(data, type, row) {
                        return '<div class="d-flex"><button class="btn btn-sm btn-warning mx-2">' + data + '</button><div class="text-primary">' + row["ID"] + '</div></div>';
                    },
                }, 
                {
                    data: 'IP',
                    searchable: false
                }, 
                {
                    data: 'Polaridad',
                    orderable: false,
                    searchable: false
                }, 
                {
                    data: 'Descripcion',
                    orderable: false,
                    searchable: false 
                },
            ],
        });

    table = $('#tareas').DataTable({
            language: {
                url: "//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json",
                },
            ajax: {
                url: '/consulta_tareas',
                type: 'GET',
                data: {
                    ip: ip_rasberry
                }
            },
            columns: [{
                    data: 'Nombre_tarea'
                    },
                    {
                        data: 'Nombre',
                        orderable: false,
                        searchable: false,
                    },
                    {
                        data: 'Pin',
                    },
                    {
                        data: 'Dias',
                        orderable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            var dias = data.split(',');
                            var d = dias[0] == 1 ? '<span class="text-primary font-weight-bold"">D</span>' : '<div><span class="text-danger font-weight-bold"">D</span>';
                            d += dias[1] == 1 ? '<span class="text-primary font-weight-bold""> L</span>' : '<span class="text-danger font-weight-bold""> L</span>';
                            d += dias[2] == 1 ? '<span class="text-primary font-weight-bold""> M</span>' : '<span class="text-danger font-weight-bold""> M</span>';
                            d += dias[3] == 1 ? '<span class="text-primary font-weight-bold""> M</span>' : '<span class="text-danger font-weight-bold""> M</span>';
                            d += dias[4] == 1 ? '<span class="text-primary font-weight-bold""> J</span>' : '<span class="text-danger font-weight-bold""> J</span>';
                            d += dias[5] == 1 ? '<span class="text-primary font-weight-bold""> V</span>' : '<span class="text-danger font-weight-bold""> V</span>';
                            d += dias[6] == 1 ? '<span class="text-primary font-weight-bold""> S</span>' : '<span class="text-danger font-weight-bold""> S</span>';
                            return '<div class="">' + d + '<input id="total_dias_'+row["ID"]+'" value="'+data+'" style="display:none;"></div';
                        },
                    },
                    {
                        data: 'Hora',
                    },
                    {
                        data: 'Estatus',
                        orderable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            if (data == true) {
                                return '<div class="d-flex"><label class="switch_rele" style="position: relative; margin-top: 1px; margin-left: 0px;">'
                                        +'<input type="checkbox" checked="on" disabled>'
                                        +'<span class="slider round"></span>'
                                        +'</label></div>';
                            }
                            else {
                                return '<div class="d-flex"><label class="switch_rele" style="position: relative; margin-top: 1px; margin-left: 0px;">'
                                    +'<input type="checkbox" disabled>'
                                    +'<span class="slider round"></span>'
                                    +'</label></div>';
                            }
                        }
                    },
                    {
                        data: 'Logica',
                        orderable: false,
                        searchable: false,
                        render: function(data, type, row) {
                            if (data == true) {
                                return '<div class="d-flex mr-0 pr-0">'
                                        +'<button class="invertir text-primary ml-2" style="border:none;background:none; cursor:pointer;margin-top: -6px; margin-left: 0px;"><i class="fas fa-circle"></i></button><input value="1" style="display:none;">'
                                        +'<button class="invertir btn btn-sm btn-outline-primary border-0 ml-3" style="border:none; margin-top: -6px;" onclick="editar_tarea_semanal(this, '+row["ID"]+')"><i class="fas fa-edit"></i></button>'
                                        +'<button class="invertir btn btn-sm btn-outline-danger border-0 ml-3" style="border:none; margin-top: -6px;" onclick="borrar_tarea('+row["ID"]+')"><i class="fas fa-trash-alt"></i></button>'
                                    +'</div>';
                            }
                            else{
                                return '<div class="d-flex mr-0 pr-0">'
                                        +'<button class="invertir text-primary ml-2" style="border:none;background:none; cursor:pointer;margin-top: -6px; margin-left: 0px;"><i class="far fa-circle"></i></button><input value="0" style="display:none;">'
                                        +'<button class="invertir btn btn-sm btn-outline-primary border-0 ml-3" style="border:none; margin-top: -6px;" onclick="editar_tarea_semanal(this, '+row["ID"]+')"><i class="fas fa-edit"></i></button>'
                                        +'<button class="invertir btn btn-sm btn-outline-danger border-0 ml-3" style="border:none; margin-top: -6px;" onclick="borrar_tarea('+row["ID"]+')"><i class="fas fa-trash-alt"></i></button>'
                                    +'</div>';
                            }
                        }
                    },
                ],
            });
    });

    function select_dia(dia){
        if(document.getElementById("value_"+dia).value == 0){
            document.getElementById("dia_"+dia).classList.remove('text-danger');
            document.getElementById("dia_"+dia).classList.add('text-primary');
            document.getElementById("value_"+dia).value = 1;
        }
        else{
            document.getElementById("dia_"+dia).classList.remove('text-primary');
            document.getElementById("dia_"+dia).classList.add('text-danger');
            document.getElementById("value_"+dia).value = 0;
        }
    }

    function editar_tarea_semanal(item, id){
        var row = $(item).parents('tr');
        var cols = row.find('td');
        var nombre_tarea = cols[0].innerText;
        var nombre_rele = cols[1].innerText;
        var pin = cols[2].innerText;

        var dias_semana = ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'];
        var dias = document.getElementById("total_dias_"+id).value;
        dias = dias.split(',')
        dias_semana.forEach(function(dia, index, arr) {
            if(dias[index] == 1){
                document.getElementById("dia_"+dia).classList.remove('text-danger');
                document.getElementById("dia_"+dia).classList.add('text-primary');
                document.getElementById("value_"+dia).value = 1;
            }
            else{
                document.getElementById("dia_"+dia).classList.remove('text-primary');
                document.getElementById("dia_"+dia).classList.add('text-danger');
                document.getElementById("value_"+dia).value = 0;
            }
        });
        var hora = cols[4].innerText;
        var estatus = cols[5].children[0].children[0].children[0].checked;
        var logica = cols[6].children[0].children[1].value;
        document.getElementById('titulo_modal_semanal').innerHTML = 'Editar Tarea: <span class="text-danger">'+nombre_tarea+'</span>';
        document.getElementById('pin_semanal').value = pin;
        document.getElementById('nombre_semanal').value = nombre_tarea;
        document.getElementById('hora_semanal').value = hora;
        var valor_estatus = document.getElementById('estatus_semanal');
        var valor_logica = document.getElementById('logica_semanal');
        var nombre_logica = document.getElementById('tipo_polaridad');
        document.getElementById('polaridad_semanal').value = logica;
        estatus == true ? valor_estatus.checked = true : valor_estatus.checked = false;
        logica == 1 ? valor_logica.innerHTML = '<i class="fas fa-circle"></i>' : valor_logica.innerHTML = '<i class="far fa-circle"></i>';
        logica == 1 ? nombre_logica.innerText = 'Logica invertida' : nombre_logica.innerText = 'Logica normal';
        document.getElementById("btn_accion_semanal").innerHTML = '<button class="btn btn-sm btn-danger text-sm font-weight-bold" style="margin-top: 0px; margin-left: 0px;" onclick="cancelar_tarea()">Cancelar</button>'
        +'<button class="btn btn-sm btn-success text-sm font-weight-bold" style="margin-top: 0px; margin-left: 25px;" id="btn_accion_semanal" onclick="cambio_tarea_semanal('+id+')">Realizar cambios</button>';
        //$("#editar_semanal_"+id).focus();
        $('#modal_tarea_semanal').modal({backdrop: 'static',keyboard: false});

    }
    
    function cambio_tarea_semanal(id){
        var nombre_tarea = document.getElementById("nombre_semanal").value;
        var pin = document.getElementById("pin_semanal").value;
        var hora = document.getElementById("hora_semanal").value;
        var estatus = document.getElementById("estatus_semanal").checked;
        var logica = document.getElementById("polaridad_semanal").value;

        var dias_semana = ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'];
        var dias = '';
        dias_semana.forEach(function(dia) {
            if(dia != 'S'){
                dias += document.getElementById('value_'+dia).value == 1 ? '1,' : '0,'; 
            }   
            else{
                dias += document.getElementById('value_'+dia).value == 1 ? '1' : '0'; 
            }        
        });

        queryObj = {
            ip: ip_rasberry,
            id: id,
            codigo: 'editar_tarea_semanal',
            nombre_tarea: nombre_tarea,
            pin: pin,
            dias: dias,
            hora: hora,
            estatus: estatus == true ? 1 : 0,
            logica: logica,
        };

        //console.log(queryObj);

        axios.post('/editar_tarea_semanal', queryObj).then(
            (response) => {
                var result = response.data;
                table.ajax.reload();
                table.clear().draw();

                document.getElementById("nombre_semanal").value = '';
                document.getElementById("pin_semanal").value = '#';
                document.getElementById("hora_semanal").value = '';
                document.getElementById("estatus_semanal").checked = false;
                document.getElementById("polaridad_semanal").value = 0;

                document.getElementById("polaridad_semanal").value = 0;
                document.getElementById("logica_semanal").innerHTML = '<i class="far fa-circle"></i>';
                document.getElementById("tipo_polaridad").innerText = 'Logica normal';

                dias_semana.forEach(function(dia) {
                    document.getElementById("dia_"+dia).classList.remove('text-primary');
                    document.getElementById("dia_"+dia).classList.add('text-danger');
                    document.getElementById('value_'+dia).value = 0;             
                });

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Cambios realizados con exito',
                    showConfirmButton: false,
                    timer: 1250,
                });
                $('#modal_tarea_semanal').modal('hide');
            },
            (error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Ocurrio un error',
                    //text: '',
                });
                console.log(error);
            }
        );
    }

    function polaridad(item){
        if(document.getElementById("polaridad_semanal").value == 0){
            item.innerHTML = '<i class="fas fa-circle"></i>';
            document.getElementById("polaridad_semanal").value = 1;
            document.getElementById("tipo_polaridad").innerText = 'Logica invertida';
        } 
        else{
            document.getElementById("polaridad_semanal").value = 0;
            item.innerHTML = '<i class="far fa-circle"></i>';
            document.getElementById("tipo_polaridad").innerText = 'Logica normal';
        }
    }

    function nueva_tarea() {
        document.getElementById("nombre_semanal").value = '';
        document.getElementById("pin_semanal").value = '#';
        document.getElementById("hora_semanal").value = '';
        document.getElementById("estatus_semanal").checked = false;
        document.getElementById("polaridad_semanal").value = 0;
        document.getElementById("polaridad_semanal").value = 0;
        document.getElementById("logica_semanal").innerHTML = '<i class="far fa-circle"></i>';
        document.getElementById("tipo_polaridad").innerText = 'Logica normal';
        var dias_semana = ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'];
        dias_semana.forEach(function(dia) {
            document.getElementById("dia_"+dia).classList.remove('text-primary');
            document.getElementById("dia_"+dia).classList.add('text-danger');
            document.getElementById('value_'+dia).value = 0;             
        });
        document.getElementById("btn_accion_semanal").innerHTML = '<button class="btn btn-sm btn-danger text-sm font-weight-bold" style="margin-top: 0px; margin-left: 0px;" onclick="cancelar_tarea()">Cancelar</button>'
        +'<button class="btn btn-sm btn-success text-sm font-weight-bold" style="margin-top: 0px; margin-left: 25px;" id="btn_accion_semanal" onclick="add_tarea_semanal()">Crear tarea</button>';

        $('#modal_tarea_semanal').modal({backdrop: 'static',keyboard: false});
    }

    function cancelar_tarea() {
        $('#modal_tarea_semanal').modal('hide');
    }

    function borrar_tarea(id){
        queryObj = {
            ip: ip_rasberry,
            id: id,
            codigo: 'borrar_tarea',
        };

        Swal.fire({
            title: 'Confirmar para eliminar tarea',
            // text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Aceptar',
            cancelButtonText: 'Cancelar',
            }).then((result) => {
            if (result.isConfirmed) {
                axios.post('/borrar_tarea', queryObj).then(
                    (response) => {
                        var result = response.data;
                        //console.log(result);
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Tarea eliminada',
                            showConfirmButton: false,
                            timer: 1250,
                        });
                        table.ajax.reload();
                        table.clear().draw();
                    },
                    (error) => {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ocurrio un error',
                            //text: '',
                        });
                        console.log(error);
                    }
                );
            }
        });
    }

    function add_tarea_semanal() {
        var nombre_tarea = document.getElementById("nombre_semanal").value;
        var pin = document.getElementById("pin_semanal").value;
        var hora = document.getElementById("hora_semanal").value;
        var estatus = document.getElementById("estatus_semanal").checked;
        var logica = document.getElementById("polaridad_semanal").value;

        var dias_semana = ['D', 'L', 'M', 'Mi', 'J', 'V', 'S'];
        var dias = '';
        dias_semana.forEach(function(dia) {
            dias += document.getElementById('value_'+dia).value == 1 ? '1,' : '0,';             
        });

        queryObj = {
            ip: ip_rasberry,
            codigo: 'add_tarea_semanal',
            nombre_tarea: nombre_tarea,
            pin: pin,
            dias: dias,
            hora: hora,
            estatus: estatus == true ? 1 : 0,
            logica: logica,
        };

        //console.log(queryObj);

        axios.post('/add_tarea_semanal', queryObj).then(
            (response) => {
                var result = response.data;
                //console.log(result);
                table.ajax.reload();
                table.clear().draw();

                document.getElementById("nombre_semanal").value = '';
                document.getElementById("pin_semanal").value = '#';
                document.getElementById("hora_semanal").value = '';
                document.getElementById("estatus_semanal").checked = false;
                document.getElementById("polaridad_semanal").value = 0;

                document.getElementById("polaridad_semanal").value = 0;
                document.getElementById("logica_semanal").innerHTML = '<i class="far fa-circle"></i>';
                document.getElementById("tipo_polaridad").innerText = 'Logica normal';

                dias_semana.forEach(function(dia) {
                    document.getElementById("dia_"+dia).classList.remove('text-primary');
                    document.getElementById("dia_"+dia).classList.add('text-danger');
                    document.getElementById('value_'+dia).value = 0;             
                });

                Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Tarea agregada con exito',
                    showConfirmButton: false,
                    timer: 1250,
                });
                $('#modal_tarea_semanal').modal('hide');
            },
            (error) => {
                Swal.fire({
                    icon: 'error',
                    title: 'Ocurrio un error',
                    //text: '',
                });
                console.log(error);
            }
        );
    }

    function test() {
        queryObj = {
            ip: ip_rasberry
        };
        axios.post('/consulta_tareas', queryObj).then(
            (response) => {
                var result = response.data;
                console.log(result);
            },
            (error) => {
                console.log(error);
            }
        );
        //table.ajax.reload();
    }

    $('.timepicker').timepicker({
        timeFormat: 'HH:mm',
        interval: 60,
        minTime: '0',
        maxTime: '23:59',
        defaultTime: '',
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: false
    });

</script>

{% endblock %}