{% extends "base.html" %}
{% block title %}Tareas{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row d-flex justify-content-center ">
        <div class="my-2">
         PENDIENTE OBTENER DATOS DE LOS RELEVADORES
            <!-- <h5 class="form-signin-heading">Dispositivo: <span class="text-danger"></span></h5> -->
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-2">
        <ul class="nav nav-pills " id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-sm" href="#tareas1" data-toggle="tab" role="tab" id="tab_tareas1" aria-selected="true" >Tareas semanales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-sm" href="#tareas2" data-toggle="tab" role="tab" id="tab_tareas2" aria-selected="false">Tareas independientes</a>
            </li>
        </ul>
    </div>
    <div class="row d-flex justify-content-center mt-4">
        <div class="tab-content w-100" id="pills-tabContent" role="tabpanel">
            <div id="tareas1" class="tab-pane fade show active" >
                <div class="d-flex flex-column">
                    <div class="my-2 ml-4">
                        <button class="btn btn-sm btn-primary">Nueva tarea</button>
                    </div>
                    
                    <div class="d-flex flex-row mt-4">

                        <div class="d-flex flex-row col-9">
                            <!-- <select class="form-control form-control-sm" id="pin_tarea_programada">
                                <option hidden disabled selected>Elige un Pin</option>
                                <option>5</option>
                            </select> -->
                            <div class="floating mx-2">
                                <select class="form-control form-control-sm text-center" id="pin_tarea">
                                    <option hidden disabled selected>Elige un Pin</option>
                                    <option>5</option>
                                </select>
                                <span >Pin del Relevador</span>
                            </div>
                            <div class="floating mx-2">
                                <input class="form-control form-control-sm" id="nombre_tarea" required>
                                <span >Nombre de la tarea</span>
                            </div>
                            <div class="floating mx-2">
                                <input type="text" id="hora_programada" class="timepicker form-control form-control-sm text-center"  autocomplete="off"required>
                                <span >Hora de ejecución</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-start col-3">

                            <div class="d-flex mr-5">
                                <!-- <div class="mx-2 font-weight-bold">
                                    Estatus:
                                </div>
                                <div class="" style="position: relative; margin-top: 5px;">
                                    <label class="switch_rele">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </div> -->
                                <div class="floating">
                                    <label class="switch_rele" style="position: relative; margin-top: 7px; margin-left: 3px;">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                    <span >Estatus</span>
                                </div>
                            </div>

                            <div class="d-flex">
                                <!-- <div class="ml-2 font-weight-bold">
                                    Polaridad:
                                </div>
                                <div class="" style="position: relative; margin-top: 0px;">
                                    <button onclick="polaridad(this)" class="invertir text-primary valor-logica" style="border:none;background:none; cursor:pointer;"><i class="far fa-circle"></i></button>
                                    <input type="number" value="0" id="polaridad_nuevo" style="display: none;">
                                </div> -->
                                <div class="floating" style="width: 100px;">
                                    <button onclick="polaridad(this)" class="invertir text-primary valor-logica" style="border:none;background:none; cursor:pointer;margin-top: 3px; margin-left: 8px;"><i class="far fa-circle"></i></button>
                                    <input type="number" value="0" id="polaridad_nuevo" style="display: none;">
                                    <span id="tipo_polaridad" style="margin-left: -25px;">Polaridad normal</span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <div class="col-9 ml-3">
                        <table class="table table-sm m-0 p-0">
                            <tr>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Domingo
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Lunes
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Martes
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Miercoles
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Jueves
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Viernes
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex">
                                        <div class="" style="margin-top: 2px;">
                                            <label class="switch_rele">
                                                <input type="checkbox">
                                                <span class="slider slider-primary round"></span>
                                            </label>
                                        </div>
                                        <div class="text-sm mx-2">
                                            Sabado
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </table>
                        </div>
                        <div class="col-3 justify-content-center">
                            <button class="btn btn-sm btn-success text-sm font-weight-bold" style="margin-top: -3px; margin-left: 3px;">Añadir Tarea</button>
                        </div>
                    </div>
                </div>

                <div class="d-flex mt-3 justify-content-center ">
                    <table class="table table-sm" id="tareas" >
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>IP</th>
                                <!-- <th>Nuevo estatus</th> -->
                                <th>Polaridad</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>

            </div>

            <div id="tareas2" class="tab-pane fade">
                TAREAS INDEPENDIENTES
            </div>
            
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script type="text/javascript">

    function polaridad(item){
        if(document.getElementById("polaridad_nuevo").value == 0){
            item.innerHTML = '<i class="fas fa-circle"></i>';
            document.getElementById("polaridad_nuevo").value = 1;
            document.getElementById("tipo_polaridad").innerText = 'Polaridad invertida';
        }
        else{
            document.getElementById("polaridad_nuevo").value = 0;
            item.innerHTML = '<i class="far fa-circle"></i>';
            document.getElementById("tipo_polaridad").innerText = 'Polaridad normal';
        }
    }

    $(function (){
		// tableitems = $('#tareas').DataTable({
	    //     info:false,
	    //     ordering:true,
	    //     paging:false,
	    //     destroy: true,
	    //     searching:false,
	    //     responsive: true,
	    //     columns: [
		// 		{ data:'Pin'},
		// 		{ data:'Estatus actual'},
	    //     	{ data:'Hora programada'},
		// 	],
		// });
        $('#tareas').DataTable({
            ajax: '/api/data',
            columns: [
              { data: 'Nombre',
              render: function (data, type, row) {
                return '<div class="d-flex"><button class="btn btn-sm btn-warning mx-2">'+data+'</button><div class="text-primary">'+row["ID"]+'</div></div>';
            },
               },
              {data: 'IP', searchable: false},
              {data: 'Polaridad', orderable: false, searchable: false},
              {data: 'Descripcion', orderable: false, searchable: false},
            ],
            
          });
    });

    
	$('.timepicker').timepicker({
		timeFormat: 'HH:mm',
		interval: 60,
		minTime: '0',
		maxTime: '23:59',
		defaultTime: '',
		startTime: '00:00',
		dynamic: false,
		dropdown: true,
		scrollbar: false
	});

</script>

{% endblock %}